/* ---------------- BACKGROUND */
$color__background-body : hsl(107, 19%, 49%);
$color__background-main : hsl(98, 64%, 79%);
$color__background-cours : hsl(81, 100%, 91%);
$color__background-header : rgb(68, 57, 54);
$color__background-barre : hsl(98, 64%, 79%);
$color__background-footer : hsl(17, 8%, 17%);
$color__background-link : hsl(99, 26%, 87%);
$color__background-link-hover : hsl(0, 0%, 49%);

/* ---------------- LIENS */
$color__link : hsl(18, 27%, 38%);
$color__link-hover : hsl(0, 0%, 100%);
$color__link-visited : hsl(19, 29%, 28%);

/* ---------------- LIENS FOOTER */
$color__link__footer : hsl(328, 93%, 58%);
$color__link__footer-hover : hsl(54, 98%, 55%);
$color__link__footer-visited : hsl(106, 96%, 50%);

/* ---------------- LIENS HEADER */
$color__link__header: white;
$color__link__header-visited: white; 
$color__link__header-hover: hsl(98, 64%, 79%);



/* ---------------- FONT */
$color__font-header : hsl(98, 64%, 79%);
$color__font-main :rgb(68, 57, 54);
$color__font-barre : rgb(255, 255, 255);
$color__font-footer : rgb(255, 255, 255);